@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WareHouse management</h1>
    <p class="lead">WareHouse management for maging books in different locations.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Log In or register
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more Books</h2>
        <p>make requests for books after logging in</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web And Mobile</h2>
        <p>Get it on web and mobile</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>